@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    
}

a {
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
}

nav{width: 100%;
    height: 100px;
    z-index: 10;
    display: flex;
    position: relative;
}
#gnb:hover{
    background: #fff;
    transition: all 0.5s;
}
nav p{
    width: 20%;
    height: 100px;
    text-align: center;
    
}
nav p img{
    width: 130px;
    height: 40px;
    margin-top: 30px;
}
.mcate1{
    width: 1000px;
    height: 100px;
    display: flex;
    /* border: 1px solid red; */
}

.mcate1>li{
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    /* border: 1px solid red; */
}
.mcate1 > li a{
    color:#00116e;
    font-size: 20px;
    font-weight: 600;
}


.msub_cate{
    width: 100%;
    height: 300px;
    display: none;
    position: absolute;
    top:100px;
    left: 0;
    padding-left: 375px;
    /* border: 1px solid red; */
}

.msub_cate>li{
    width: 200px;
    height: 30px;
    line-height: 50px;
    /* border: 1px solid red; */
}

.msub_cate>li>a{
    font-weight: 500;
    font-size: 17px;
}
.mcate1>li:hover{
    border-bottom: 2px solid #00116e;
}
.msub_cate>li>ul>li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.msub_cate>li>ul>li>a{
    font-weight: 400;
    font-size: 16px;
    color: #101010;
}

.mcate2{
    width: 28%;
    height: 100px;
    line-height: 100px;
    display: flex;
    /* border: 1px solid #00116e; */
}
.mcate2 p{
    width: 200px;
    height: 100px;
    /* border: 1px solid #00116e; */
}
.mcate2 p>a{
    font-size: 13px;
    color: #00116e;
    font-weight: 300;
}
.mcate2 p:nth-child(1){
    position: relative;
}
.mcate2 p:nth-child(2),
.mcate2 p:nth-child(3){
    width: 50px;
}
.mcate2 p i{
    line-height: 100px;
    position: absolute;
    left: 170px;
}
.mcate2 p i:hover{
    cursor: pointer;
}
.mcate2 p label input{
    width: 200px;
    height: 35px;
    padding-left: 15px;
    border: 3px solid #00116e;
    border-radius: 8px;
}
.mcate2 p:nth-child(1){
    margin-left: 100px;
    margin-right: 30px;
}
footer{
    width: 100%;
    height: 300px;
    background: #00116e;    
}
.footer{
    width:1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border: 0px solid red;
}
.footer .logo img{
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.footer > div{
    width: 200px;
    height: 200px;
    line-height: 30px;
    margin:30px 10px;
    border: 0px solid red;
}
.footer > div p{
    color: #fff;
    font-size: 13px;
}
.footer div:nth-child(5){
    margin-right: 100px;
}
.footer .f_right{
    width: 450px;
    height: 200px;
    line-height: 28px;
}
.footer .f_right p>a{
    color: #fff;
}
.footer .f_right p:nth-child(1),
.footer .f_right p:nth-child(2),
.footer .f_right p:nth-child(3){
    text-decoration: underline;
}


.f_icon{
    width: 200px;
    height: 35px;
    display: flex;
}
.f_icon p{
    margin-right: 20px;
}
.fa-brands{
    font-size: 25px;
    margin-top: 5px;
}